@import url('https://fonts.googleapis.com/css?family=Unlock');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

html, body {
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
#mypanel, #mypanel2{
  width: 365px;
  background-color: rgb(20, 17, 17);
  text-align: center;
  color: white;
  max-height: 100vh;
 
  overflow-x:hidden;
  padding : 0;
  position: fixed;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.ui-autocomplete{
  background-color: #fff;
  max-width: 20%;
}
.ui-helper-hidden-accessible{
  visibility: hidden;
}

.wrapper {
  display: -webkit-flex; 
  display: flex; 
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;

  height: calc(var(--vh, 1vh) * 100);
}

.wrapper > * {
  padding: 10px;
 
}

.header {
    background-color: #ed1c24;
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 1px;
    font-family: unlock, cursive;
}
#disclaimer{
  text-align: center;
  overflow-y: scroll;
  padding : 5, 5;
  max-height: 480px;
  overflow-x:hidden;
}

#wrapper{
  text-align: center;
  overflow-y: scroll;
  padding : 5, 5;
  max-height: 480px;
  overflow-x:hidden;
}

#logo {
  height: 6em;
  padding: 1em;
}



#main {
  text-align: left;
  background: rgb(1, 31, 41);
  -webkit-flex: 1 1;
  flex: 1 1;
  height: calc(var(--vh, 1vh) * 100);
 
}


span.ui-helper-hidden-accessible{
  display:none;
}

#today{

  background-color: #ed1c24;
  font-family: 'Open Sans Condensed', sans-serif;

  color: #fff;
  font-size: 1rem;
}

#spinner{
  display: block;
  color: red;
  visibility: hidden;
  margin: auto;
}

.fixed_header{
  width: 500px;
  table-layout: fixed;
  border-collapse: collapse;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 90%;
  /*color: red; */
}

.fixed_header tbody{
display:block;
width: 100%;
overflow: auto;
height: 300px;
}

.fixed_header thead tr {
 display: block;
 font-family: 'Open Sans Condensed', sans-serif;
}

.fixed_header thead {
background: black;
color:#fff;
padding: 5px;
text-align: center;
}

.fixed_header th, .fixed_header td {
padding: 5px;
text-align: center;
width: 200px;
}

.fixed_header th{
  margin: 5px;
}


.fueld td{
  border: 1px solid rgb(170, 170, 170);
} 
button.navbar-toggler{
  display:block;
  margin:0 auto;
  background-color: aquamarine;

  }

  .text-my-own-color {
    color: #ffffff !important; 
  }




@media screen and (max-width: 490px){
  .fixed_header{
    width: 100%;
    text-align: center;
  }

  .fixed_header thead{
    padding: 2px;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 99%;

  }
  .ui-autocomplete{
   
    max-width: 80%;
  }

  /* .navbar{
    visibility: hidden;
  } */
  .pos-f-t{
   /* visibility: hidden; */
   display: none;
  }
  #mypanel, #mypanel2{
    width: 99%;
    background-color: rgb(20, 17, 17);
    text-align: center;
    color: white;
    max-height: 100vh;
   
    overflow-x:hidden;
    padding : 0;
    position: fixed;
  }


}